/* your styles go here */
.post.post-thumbnail{
    posotion:relative;
    width:100%;
    overflow:hidden;
}
.post.post-thumbnail img{
    width:100%;
    height:300px;
    object-fit: cover;
    margin-bottom: 10px;
}
.post span{
    color: #0d95e8;
    font-size: 3rem;
}
